@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* navbar */
.logo{
    padding-top: 13px;
}
.wrapper img{
    width: 180px;
}
.wrapper{
  background: rgb(4, 168, 168);
  position: fixed;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  top: 0;
}
.wrapper nav{
  position: relative;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    text-decoration: underline 0.15em #fff;
    transition: text-decoration-color 300ms;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: black;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: rgb(4, 168, 168);
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: black;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: rgb(4, 168, 168);
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: rgb(4, 168, 168);
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: rgb(4, 168, 168);
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.8s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-teams:checked ~ ul,
  .content .links #show-press:checked ~ ul,
  .content .links #show-brands:checked ~ ul,
  .content .links #show-about:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}



















/* home page */
.page1 img{
  width: 100%
}
.frontend{
  display: block;
}
.backend{
  display: none;
  width: 100%;
}
@media (max-width:700px) and (min-width:100px){
  .frontend{
    display: none;
  }
  .backend{
    display: block;
  }
}
.page2{
  align-content: center;
  margin: 40px;
}
.page2 h1{
  font-size: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.boxer{
  display: flex;
  gap: 40px;
}
.boxer img{
  width: 300px;
  display: block;
  border: rgb(7, 180, 180);
}
.boxer-pic{
  text-align: center;
  display: block;
}
.boxer p{
  color: rgb(32, 32, 32);
  font-weight: 600;
}
.boxer span{
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.boxer h3{
  font-family: 'Montserrat', sans-serif;
  color: black;
}
@media (max-width:1000px) and (min-width:700px){
  .boxer img{
    width: 200px;
  }
}
@media (max-width:700px) and (min-width:400px){
  .boxer img{
    width: 120px;
  }
  .boxer{
    gap: 20px;
  }
}
@media (max-width:400px) and (min-width:100px){
  .boxer img{
    width: 100px;
  }
}

























/* valo page */
.valo-page1{
  background-image: url(img/valo-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover,contain;
  height: 600px;
}
.halo-page1{
  background-image: url(img/halo-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover,contain;
  height: 600px;
}
.fort-page1{
  background-image: url(img/fort-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover,contain;
  height: 600px;
}
.apex-page1{
  background-image: url(img/fort-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover,contain;
  height: 600px;
}
.cc-page1{
  background-image: url(img/valo-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover,contain;
  height: 600px;
}
.game-page1-p2{
  text-align: center;
  color: #fff;
  padding: 200px;
}
.game-page1-p2 h1{
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.game-page1-p2 h2{
  font-size: 26px;
  font-family: 'Montserrat', sans-serif; 
}
@media (max-width:700px) and (min-width:100px){
  .game-page1-p2{
    padding: 120px;
  }
  .game-page1-p2 h1{
    font-size: 26px;
  }
  .game-page1-p2 h2{
    font-size: 16px;
  }
}
@media (max-width:700px) and (min-width:100px){
  .valo-page1{
    height: 350px;
    width: 100%;
  }
  .halo-page1{
    height: 350px;
    width: 100%;
  }
  .fort-page1{
    height: 350px;
    width: 100%;
  }
  .apex-page1{
    height: 390px;
    width: 100%;
  }
  .cc-page1{
    height: 420px;
    width: 100%;
  }
}
.game-page2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
}
.pboxer{
  width: 330px;
  height: auto;
  text-align: center;
  margin: 20px;
   font-family: 'Montserrat', sans-serif;
}
.pname{
  font-size: 20px;
}
.pboxer button{
  width: 140px;
  padding: 10px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600px;
}
.pboxer img{
  display: block;
  width: 330px;
  height: 470px;
}
.game-below{
  background-color: rgb(4, 168, 168);
}
.game-page3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  gap: 100px;
}
.big-number{
  font-size: 80px;
  color: #fff;
}
.small-number{
  font-size: 20px;
  color: #fff
}









/* news page */
.news-page1{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
}
.news-page1 h3{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
.news-boxer{
  display: flex;
  gap: 10px;
}
.news-boxer img{
  width: 370px;
  height: 220px;
  display: block;
  border: rgb(7, 180, 180);
}
.news-boxer-pic{
  text-align: center;
  display: block;
}
.news-boxer p{
  color: black;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.news-boxer span{
  font-size: 20px;
  font-weight: 500;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.news-boxer h3{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 26px;
}
@media (max-width:1000px) and (min-width:700px){
  .news-boxer img{
    width: 200px;
    height: 120px;
  }
  .news-page1{
    margin-left: 100px;
    margin-right: 100px;
  }
  .news-page1 h3{
    font-size: 20px;
  }
  .news-page1 span{
    font-size: 16px;
  }
}
@media (max-width:700px) and (min-width:500px){
  .news-boxer img{
    width: 150px;
    height: 100px;
  }
  .news-page1{
    margin-left: 50px;
    margin-right: 50px;
  }
  .news-page1 h3, p{
    font-size: 16px;
  }
  .news-page1 span{
    font-size: 12px;
  }
  .news-boxer{
    gap: 10px;
  }
}
@media (max-width:500px) and (min-width:100px){
  .news-boxer img{
    width: 100px;
    height: 60px;
  }
  .news-page1{
    margin-left: 20px;
    margin-right: 20px;
  }
  .news-page1 h3, p{
    font-size: 16px;
  }
  .news-page1 span{
    font-size: 12px;
  }
  .news-boxer{
    gap: 10px;
  }
}
.news-page2{
  text-align: center;
}
.news-page2 img{
  width: 400px;
}
.news-page3 {
  text-align: center;
  padding-bottom: 100px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.news-page3 a{
  text-decoration: none;
  color: #fff;
}

















/* logos page */
.logo-page1{
  margin: 100px;
}
.logo-page1-p1{
  text-align: center;
}
.logo-page1 img{
  width: 400px;
}
.logo-page1 h3{

  font-size: 26px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.logo-page1-p2{
  text-align: center;
  background-color: rgb(4, 168, 168);
  font-family: 'Montserrat', sans-serif;
}
.logo-page1 h2{
  font-size: 30px;

}
.logo-page1-p2 button{
  border: none;
  background-color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
}
.logo-page1-p2 a{
  text-decoration: none;
  color: black;
}
@media (max-width:700px) and (min-width: 450px){
  .logo-page1{
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (max-width: 450px) and (min-width:100px){
  .logo-page1{
    margin-left: 20px;
    margin-right: 20px;
  }
  .logo-page1 img{
    width: 300px;
  }
}






/* our story page */
.our{
  margin: 80px;
  padding-top: 40px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}
.our h1{
  font-size: 60px;
}
.highlightline{
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
}
.boldline{
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
}
@media(max-width:600px) and (min-width:400px){
  .our{
    margin: 30px;
    letter-spacing: 1px;
    padding-top: 60px;
  }
  .our h1{
    font-size: 50px;
  }
}
@media(max-width:400px) and (min-width:100px){
  .our{
    margin: 20px;
    letter-spacing: 0.5px;
    padding-top: 65px;
  }
  .our h1{
    font-size: 50px;
  }
}







/* management page */
.manage-page1{
  background-image: url(img2/manage-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover,contain;
  height: 400px;
}
.manage-page1-p2{
  text-align: center;
  color: #fff;
  padding: 200px;
}
.manage-page1-p2 h1{
  font-size: 40px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width:700px) and (min-width:400px){
  .manage-page1{
    height: 280px;
  }
  .manage-page1-p2 h1{
    font-size: 20px;
    font-weight: 600;
  }
  .manage-page1-p2{
    padding: 170px;
  }
}
@media (max-width:400px) and (min-width:100px){
  .manage-page1{
    height: 200px;
  }
  .manage-page1-p2 h1{
    font-size: 20px;
    font-weight: 600;
  }
  .manage-page1-p2{
    padding: 120px;
  }
}
.manage-page2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
}
.mboxer{
  width: 250px;
  height: auto;
  text-align: center;
  margin: 20px;
   font-family: 'Montserrat', sans-serif;
}
.pname{
  font-size: 20px;
}
.mboxer button{
  width: 140px;
  padding: 10px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600px;
}
.mboxer img{
  display: block;
  width: 250px;
  height: 250px;
}
.game-below{
  background-color: rgb(4, 168, 168);
}












/* contact us page */
.contact-page1{
  margin: 80px;
  font-family: 'Montserrat', sans-serif;
}
.contact-page1 h1{
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}
.contact-page2{
  padding: 80px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  font-weight: 400;
}
.contact-page1 mark{
  color: rgb(255, 255, 255);
  background-color: rgb(7, 180, 180);
}
.contact-page3{
  padding: 100px;
}
.contact-page3 input{
  width: 100%;
  padding: 6px;
  border: none;
  border-radius: 20px;
}
.contact-page3 textarea{
  width: 100%;
  border: none;
  border-radius: 20px;
}
.form-contact label{
  width: 100%;
  font-size: 20px;
}
.form-contact button{
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  width: 120px;
}
@media (max-width:1200px) and (min-width:1000px){
  .contact-page1{
    margin: 40px;
    padding-top: 40px;
  }
}
@media (max-width:1000px) and (min-width:700px){
  .contact-page1{
    margin: 20px;
    padding-top: 80px;
  }
  .contact-page2{
    padding: 40px;
  }
}
@media (max-width:700px) and (min-width:500px){
  .contact-page1{
    margin: 15px;
    padding-top: 80px;
  }
  .contact-page2{
    padding: 10px;
  }
  .contact-page3{
    padding: 70px;
  }
}
@media (max-width:500px) and (min-width:300px){
  .contact-page1{
    margin: 10px;
    padding-top: 80px;
  }
  .contact-page2{
    padding: 10px;
  }
  .contact-page3{
    padding: 40px;
  }
}










/* shop page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.section2{
  padding-top: 70px;
}
.section2 video{
    width: 100%;
}
.video2{
    display: none;
}
@media (max-width:1180px) and (min-width:780px) {
    .row{
        gap: 10px;
        align-items: center;
        align-content: center;
        vertical-align: middle;
        margin: auto;
    }
}
@media (max-width:830px) and (min-width:100px) {
    .video1{
        display: none;
    }
    .video2{
        display: block;
    }
}

.section2{
    padding-bottom: 10px;
}








.section3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.box{
    height: 560px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 20px;
    padding-bottom: 30px;
    position: relative;
    box-shadow: 0px 0px 0px 2px black;
    border-radius: 30px;
}
.box img{
  padding-bottom: 20px;
}
.blue-text{
  font-size: 12px;
  color: #fff;
}
.quality{
  font-weight: bold;
  letter-spacing: 2px;
}
.name{
  font-size: 20px;
  font-weight: 400;
}
.dilivery{
  font-size: 12px;
}
.discount{
  font-size: 20px;
}
.price{
  color: #fff;
  font-size: 26px;
}
.section3 img{
    width: 300px;
}
.inner{
    position: absolute;
    display: none;
    top: 18px;
    left: 20px;
}
.box:hover .inner{
    display: block;
    transition: all 20s;
}





.hoodie{
  margin: 20px;
  padding: 20px;
}
.hoodi{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 45px;
}
.hoodie p{
  color: black;
}
.hood-left{
  display: flex;
  flex-wrap: wrap;
}
.hood-right h2{
  padding-bottom: 10px;
  color: #fff;
}
.hood-left img{
  width: 450px;
}
.hood-right{
  width: 100%;
  margin: 20px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.span2{
  font-size: 15px;
  color: black;
}
.hood-right h1{
  margin-top: 70px;
  font-size: 45px;
  color: #fff;
}
.span1{
  font-size: 50px;
  color: #fff;
}
@media (max-width:1250px) and (min-width:100px){
  .hoodie{
    margin: 10px;
    padding: 10px;
  }
  .hoodi{
    gap: 20px;
  }
}
@media (max-width:950px) and (min-width:750px){
  .hood-left img{
    width: 350px;
  }
}
@media (max-width:750px) and (min-width:610px){
  .hood-left img{
    width: 320px;
  }
}
@media (max-width:610px) and (min-width:560px){
  .hood-left img{
  width: 320px;
}
}
@media (max-width:560px) and (min-width:300px){
  .hood-left img{
  width: 320px;
}
}
@media (max-width:300px) and (min-width:100px){
  .hood-left img{
  width: 180px;
}
}



































/* footer */
footer {
    width: 100%;
    text-align: center;
    background-color: rgb(4, 168, 168);
    padding: 4px;
    font-family: 'Montserrat', sans-serif;
  }
  footer a {
    text-decoration: none;
    color: black;
  }
  footer a:visited {
    text-decoration: none;
    color: black;
  }
  footer i:hover{
    color: #fff;
  }
  .col-1 {
    padding-top: 10px;
    color: black;
  }